soap_files/TRAVEL/NDCX_1ASIWPOC1A_PDT_TST_1.0_Functional.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:fare_masterpricertravelboardsearch_23_1="http://xml.amadeus.com/FMPTBQ_23_1_1A" xmlns:fare_masterpricertravelboardsearchreply_23_1="http://xml.amadeus.com/FMPTBR_23_1_1A" xmlns:pnr_addmultielements_21_1="http://xml.amadeus.com/PNRADD_21_1_1A" xmlns:pnr_list_0_1="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns:pnr_reply_21_1="http://xml.amadeus.com/PNRACC_21_1_1A" xmlns:pnr_retrieve_21_1="http://xml.amadeus.com/PNRRET_21_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ticket_displaytst_15_1="http://xml.amadeus.com/TTSTRQ_15_1_1A" xmlns:ticket_displaytstreply_15_1="http://xml.amadeus.com/TTSTRR_15_1_1A" xmlns:tns="http://xml.amadeus.com/NDCX_1ASIWPOC1A_PDT_PDT_1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/NDCX_1ASIWPOC1A_PDT_PDT_1_0">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearch_23_1_1A.xsd" namespace="http://xml.amadeus.com/FMPTBQ_23_1_1A" />
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearchReply_23_1_1A.xsd" namespace="http://xml.amadeus.com/FMPTBR_23_1_1A" />
      <xs:import schemaLocation="PNR_AddMultiElements_21_1_1A.xsd" namespace="http://xml.amadeus.com/PNRADD_21_1_1A" />
      <xs:import schemaLocation="PNR_Reply_21_1_1A.xsd" namespace="http://xml.amadeus.com/PNRACC_21_1_1A" />
      <xs:import schemaLocation="PNR_Retrieve_21_1_1A.xsd" namespace="http://xml.amadeus.com/PNRRET_21_1_1A" />
      <xs:import schemaLocation="PNR_List_00_1_1A.xsd" namespace="http://xml.amadeus.com/TNLRES_00_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="Ticket_DisplayTST_15_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTRQ_15_1_1A" />
      <xs:import schemaLocation="Ticket_DisplayTSTReply_15_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTRR_15_1_1A" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearch_23_1">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearch_23_1" element="fare_masterpricertravelboardsearch_23_1:Fare_MasterPricerTravelBoardSearch" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearchReply_23_1">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearchReply_23_1" element="fare_masterpricertravelboardsearchreply_23_1:Fare_MasterPricerTravelBoardSearchReply" />
  </wsdl:message>
  <wsdl:message name="PNR_AddMultiElements_21_1">
    <wsdl:part name="PNR_AddMultiElements_21_1" element="pnr_addmultielements_21_1:PNR_AddMultiElements" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_21_1">
    <wsdl:part name="PNR_Reply_21_1" element="pnr_reply_21_1:PNR_Reply" />
  </wsdl:message>
  <wsdl:message name="PNR_Retrieve_21_1">
    <wsdl:part name="PNR_Retrieve_21_1" element="pnr_retrieve_21_1:PNR_Retrieve" />
  </wsdl:message>
  <wsdl:message name="PNR_List_0_1">
    <wsdl:part name="PNR_List_0_1" element="pnr_list_0_1:PNR_List" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTST_15_1">
    <wsdl:part name="Ticket_DisplayTST_15_1" element="ticket_displaytst_15_1:Ticket_DisplayTST" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSTReply_15_1">
    <wsdl:part name="Ticket_DisplayTSTReply_15_1" element="ticket_displaytstreply_15_1:Ticket_DisplayTSTReply" />
  </wsdl:message>
  <wsdl:portType name="NDCX_1ASIWPOC1A_PDT_PDT_1_0_ServicesPT">
    <!-- <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
      <wsdl:input message="tns:Fare_MasterPricerTravelBoardSearch_23_1" />
      <wsdl:output message="tns:Fare_MasterPricerTravelBoardSearchReply_23_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <wsdl:input message="tns:PNR_AddMultiElements_21_1" />
      <wsdl:output message="tns:PNR_Reply_21_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <wsdl:input message="tns:PNR_Retrieve_21_1" />
      <wsdl:output message="tns:PNR_Reply_21_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <wsdl:input message="tns:PNR_Retrieve_21_1" />
      <wsdl:output message="tns:PNR_List_0_1" />
    </wsdl:operation> -->
    <wsdl:operation name="Security_SignOut">
      <!-- <wsdl:input message="tns:Security_SignOut_4_1" /> -->
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
    <!-- <wsdl:operation name="Ticket_DisplayTST">
      <wsdl:input message="tns:Ticket_DisplayTST_15_1" />
      <wsdl:output message="tns:Ticket_DisplayTSTReply_15_1" />
    </wsdl:operation> -->
  </wsdl:portType>
</wsdl:definitions>
<!--1F8B080000000000000045CD3D0BC2301485E1BDBFE28E8AB4DC3428345B48A0087E045AA85B097A87409B86260AFE7B830E8E67789FD392A7D526B778486EA698EC1C04D458F312F72536D03F293EEC1B1817D8087E80F6DCEF1005623174FA04ED0F585678D11AB393EB0A2B2CD4E4C827B0214CEEFE7D1020FF03364C6E33210D783B93808B56B791C9EE3898AB627234BAFF00CF18E9B49D000000-->
