soap_files/FLIGHTS_JAVASCRIPT_TST_2.8/FLIGHTS_JAVASCRIPT_TST_2.8_Functional.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:air_multiavailability_19_1="http://xml.amadeus.com/SATRQT_19_1_1A" xmlns:air_multiavailabilityreply_19_1="http://xml.amadeus.com/SATRSP_19_1_1A" xmlns:air_retrieveseatmap_17_1="http://xml.amadeus.com/SMPREQ_17_1_1A" xmlns:air_retrieveseatmapreply_17_1="http://xml.amadeus.com/SMPRES_17_1_1A" xmlns:air_sellfromrecommendation_5_2="http://xml.amadeus.com/ITAREQ_05_2_IA" xmlns:air_sellfromrecommendationreply_5_2="http://xml.amadeus.com/ITARES_05_2_IA" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:fare_getfarefamilydescription_18_1="http://xml.amadeus.com/TFQFRQ_18_1_1A" xmlns:fare_getfarefamilydescriptionreply_18_1="http://xml.amadeus.com/TFQFRR_18_1_1A" xmlns:fare_informativebestpricingwithoutpnr_23_1="http://xml.amadeus.com/TIBNRQ_23_1_1A" xmlns:fare_informativebestpricingwithoutpnrreply_23_1="http://xml.amadeus.com/TIBNRR_23_1_1A" xmlns:fare_informativepricingwithoutpnr_18_1="http://xml.amadeus.com/TIPNRQ_18_1_1A" xmlns:fare_informativepricingwithoutpnrreply_18_1="http://xml.amadeus.com/TIPNRR_18_1_1A" xmlns:fare_masterpricertravelboardsearch_23_1="http://xml.amadeus.com/FMPTBQ_23_1_1A" xmlns:fare_masterpricertravelboardsearchreply_23_1="http://xml.amadeus.com/FMPTBR_23_1_1A" xmlns:fare_pricepnrwithbookingclass_18_1="http://xml.amadeus.com/TPCBRQ_18_1_1A" xmlns:fare_pricepnrwithbookingclassreply_18_1="http://xml.amadeus.com/TPCBRR_18_1_1A"

xmlns:docissuance_issuecombined_15_1="http://xml.amadeus.com/TCTMIQ_15_1_1A"
xmlns:docissuance_issuecombinedreply_15_1="http://xml.amadeus.com/TCTMIR_15_1_1A"
xmlns:docissuance_issuemiscellaneousdocuments_15_1="http://xml.amadeus.com/TMDSIQ_15_1_1A"
xmlns:docissuance_issuemiscellaneousdocumentsreply_15_1="http://xml.amadeus.com/TMDSIR_15_1_1A"
xmlns:fare_masterpricercalendar_20_2="http://xml.amadeus.com/FMPCAQ_20_2_1A"
xmlns:fare_masterpricercalendarreply_20_2="http://xml.amadeus.com/FMPCAR_20_2_1A"
xmlns:service_integratedcatalogue_17_1="http://xml.amadeus.com/TPICGQ_17_1_1A"
xmlns:service_integratedcataloguereply_17_1="http://xml.amadeus.com/TPICGR_17_1_1A"
xmlns:service_standalonecatalogue_17_1="http://xml.amadeus.com/TPSCGQ_17_1_1A"
xmlns:service_standalonecataloguereply_17_1="http://xml.amadeus.com/TPSCGR_17_1_1A"
xmlns:ticket_createtsmfrompricing_09_1="http://xml.amadeus.com/TAUSCQ_09_1_1A"
xmlns:ticket_createtsmfrompricingreply_09_1="http://xml.amadeus.com/TAUSCR_09_1_1A"
xmlns:ama_2010_06_ServiceBookAndPrice_v1="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1"

xmlns:fare_priceupsellwithoutpnr_23_1="http://xml.amadeus.com/TIUNRQ_23_1_1A" xmlns:fare_priceupsellwithoutpnrreply_23_1="http://xml.amadeus.com/TIUNRR_23_1_1A" xmlns:fop_createformofpayment_19_2="http://xml.amadeus.com/TFOPCQ_19_2_1A" xmlns:fop_createformofpaymentreply_19_2="http://xml.amadeus.com/TFOPCR_19_2_1A" xmlns:pnr_addfrequentflyer_4_1="http://xml.amadeus.com/FFAREQ_04_1_1A" xmlns:pnr_addfrequentflyerreply_4_1="http://xml.amadeus.com/FFARES_04_1_1A" xmlns:pnr_addmultielements_21_1="http://xml.amadeus.com/PNRADD_21_1_1A" xmlns:pnr_list_0_1="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns:pnr_reply_21_1="http://xml.amadeus.com/PNRACC_21_1_1A" xmlns:pnr_retrieve_21_1="http://xml.amadeus.com/PNRRET_21_1_1A" xmlns:queue_placepnr_3_1="http://xml.amadeus.com/QUQPCQ_03_1_1A" xmlns:queue_placepnrreply_3_1="http://xml.amadeus.com/QUQPCR_03_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ticket_createtstfrompricing_4_1="http://xml.amadeus.com/TAUTCQ_04_1_1A" xmlns:ticket_createtstfrompricingreply_4_1="http://xml.amadeus.com/TAUTCR_04_1_1A" xmlns:ticket_deletetst_4_1="http://xml.amadeus.com/TTSTDQ_04_1_1A" xmlns:ticket_deletetstreply_4_1="http://xml.amadeus.com/TTSTDR_04_1_1A" xmlns:ticket_displaytst_15_1="http://xml.amadeus.com/TTSTRQ_15_1_1A" xmlns:ticket_displaytstreply_15_1="http://xml.amadeus.com/TTSTRR_15_1_1A" xmlns:tns="http://xml.amadeus.com/FLIGHTS_JAVASCRIPT_PDT_2_8" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/FLIGHTS_JAVASCRIPT_PDT_2_8">
  <wsdl:types>
    <xs:schema>
      <!-- Manually added -->
      <xs:import schemaLocation="DocIssuance_IssueCombined_15_1_1A.xsd" namespace="http://xml.amadeus.com/TCTMIQ_15_1_1A" />
      <xs:import schemaLocation="DocIssuance_IssueCombinedReply_15_1_1A.xsd" namespace="http://xml.amadeus.com/TCTMIR_15_1_1A" />

      <xs:import schemaLocation="DocIssuance_IssueMiscellaneousDocuments_15_1_1A.xsd" namespace="http://xml.amadeus.com/TMDSIQ_15_1_1A" />
      <xs:import schemaLocation="DocIssuance_IssueMiscellaneousDocumentsReply_15_1_1A.xsd" namespace="http://xml.amadeus.com/TMDSIR_15_1_1A" />

      <xs:import schemaLocation="Fare_MasterPricerCalendar_20_2_1A.xsd" namespace="http://xml.amadeus.com/FMPCAQ_20_2_1A" />
      <xs:import schemaLocation="Fare_MasterPricerCalendarReply_20_2_1A.xsd" namespace="http://xml.amadeus.com/FMPCAR_20_2_1A" />

      <xs:import schemaLocation="Service_IntegratedCatalogue_17_1_1A.xsd" namespace="http://xml.amadeus.com/TPICGQ_17_1_1A" />
      <xs:import schemaLocation="Service_IntegratedCatalogueReply_17_1_1A.xsd" namespace="http://xml.amadeus.com/TPICGR_17_1_1A" />

      <xs:import schemaLocation="Service_StandaloneCatalogue_17_1_1A.xsd" namespace="http://xml.amadeus.com/TPSCGQ_17_1_1A" />
      <xs:import schemaLocation="Service_StandaloneCatalogueReply_17_1_1A.xsd" namespace="http://xml.amadeus.com/TPSCGR_17_1_1A" />

      <xs:import schemaLocation="Ticket_CreateTSMFromPricing_09_1_1A.xsd" namespace="http://xml.amadeus.com/TAUSCQ_09_1_1A" />
      <xs:import schemaLocation="Ticket_CreateTSMFromPricingReply_09_1_1A.xsd" namespace="http://xml.amadeus.com/TAUSCR_09_1_1A" />

      <xs:import schemaLocation="AMA/2015K/AMA_ServiceBookPriceServiceRQ.xsd" namespace="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1" />
      <xs:import schemaLocation="AMA/2015K/AMA_ServiceBookPriceServiceRS.xsd" namespace="http://xml.amadeus.com/2010/06/ServiceBookAndPrice_v1" />

      <!-- End Manually added -->
      <xs:import schemaLocation="Air_MultiAvailability_19_1_1A.xsd" namespace="http://xml.amadeus.com/SATRQT_19_1_1A" />
      <xs:import schemaLocation="Air_MultiAvailabilityReply_19_1_1A.xsd" namespace="http://xml.amadeus.com/SATRSP_19_1_1A" />
      <xs:import schemaLocation="Air_RetrieveSeatMap_17_1_1A.xsd" namespace="http://xml.amadeus.com/SMPREQ_17_1_1A" />
      <xs:import schemaLocation="Air_RetrieveSeatMapReply_17_1_1A.xsd" namespace="http://xml.amadeus.com/SMPRES_17_1_1A" />
      <xs:import schemaLocation="Air_SellFromRecommendation_05_2_IA.xsd" namespace="http://xml.amadeus.com/ITAREQ_05_2_IA" />
      <xs:import schemaLocation="Air_SellFromRecommendationReply_05_2_IA.xsd" namespace="http://xml.amadeus.com/ITARES_05_2_IA" />
      <xs:import schemaLocation="FOP_CreateFormOfPayment_19_2_1A.xsd" namespace="http://xml.amadeus.com/TFOPCQ_19_2_1A" />
      <xs:import schemaLocation="FOP_CreateFormOfPaymentReply_19_2_1A.xsd" namespace="http://xml.amadeus.com/TFOPCR_19_2_1A" />
      <xs:import schemaLocation="Fare_GetFareFamilyDescription_18_1_1A.xsd" namespace="http://xml.amadeus.com/TFQFRQ_18_1_1A" />
      <xs:import schemaLocation="Fare_GetFareFamilyDescriptionReply_18_1_1A.xsd" namespace="http://xml.amadeus.com/TFQFRR_18_1_1A" />
      <xs:import schemaLocation="Fare_InformativeBestPricingWithoutPNR_23_1_1A.xsd" namespace="http://xml.amadeus.com/TIBNRQ_23_1_1A" />
      <xs:import schemaLocation="Fare_InformativeBestPricingWithoutPNRReply_23_1_1A.xsd" namespace="http://xml.amadeus.com/TIBNRR_23_1_1A" />
      <xs:import schemaLocation="Fare_InformativePricingWithoutPNR_18_1_1A.xsd" namespace="http://xml.amadeus.com/TIPNRQ_18_1_1A" />
      <xs:import schemaLocation="Fare_InformativePricingWithoutPNRReply_18_1_1A.xsd" namespace="http://xml.amadeus.com/TIPNRR_18_1_1A" />
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearch_23_1_1A.xsd" namespace="http://xml.amadeus.com/FMPTBQ_23_1_1A" />
      <xs:import schemaLocation="Fare_MasterPricerTravelBoardSearchReply_23_1_1A.xsd" namespace="http://xml.amadeus.com/FMPTBR_23_1_1A" />
      <xs:import schemaLocation="Fare_PricePNRWithBookingClass_18_1_1A.xsd" namespace="http://xml.amadeus.com/TPCBRQ_18_1_1A" />
      <xs:import schemaLocation="Fare_PricePNRWithBookingClassReply_18_1_1A.xsd" namespace="http://xml.amadeus.com/TPCBRR_18_1_1A" />
      <xs:import schemaLocation="Fare_PriceUpsellWithoutPNR_23_1_1A.xsd" namespace="http://xml.amadeus.com/TIUNRQ_23_1_1A" />
      <xs:import schemaLocation="Fare_PriceUpsellWithoutPNRReply_23_1_1A.xsd" namespace="http://xml.amadeus.com/TIUNRR_23_1_1A" />
      <xs:import schemaLocation="PNR_AddFrequentFlyer_04_1_1A.xsd" namespace="http://xml.amadeus.com/FFAREQ_04_1_1A" />
      <xs:import schemaLocation="PNR_AddFrequentFlyerReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/FFARES_04_1_1A" />
      <xs:import schemaLocation="PNR_AddMultiElements_21_1_1A.xsd" namespace="http://xml.amadeus.com/PNRADD_21_1_1A" />
      <xs:import schemaLocation="PNR_Reply_21_1_1A.xsd" namespace="http://xml.amadeus.com/PNRACC_21_1_1A" />
      <xs:import schemaLocation="PNR_Retrieve_21_1_1A.xsd" namespace="http://xml.amadeus.com/PNRRET_21_1_1A" />
      <xs:import schemaLocation="PNR_List_00_1_1A.xsd" namespace="http://xml.amadeus.com/TNLRES_00_1_1A" />
      <xs:import schemaLocation="Queue_PlacePNR_03_1_1A.xsd" namespace="http://xml.amadeus.com/QUQPCQ_03_1_1A" />
      <xs:import schemaLocation="Queue_PlacePNRReply_03_1_1A.xsd" namespace="http://xml.amadeus.com/QUQPCR_03_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="Ticket_CreateTSTFromPricing_04_1_1A.xsd" namespace="http://xml.amadeus.com/TAUTCQ_04_1_1A" />
      <xs:import schemaLocation="Ticket_CreateTSTFromPricingReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/TAUTCR_04_1_1A" />
      <xs:import schemaLocation="Ticket_DeleteTST_04_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTDQ_04_1_1A" />
      <xs:import schemaLocation="Ticket_DeleteTSTReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTDR_04_1_1A" />
      <xs:import schemaLocation="Ticket_DisplayTST_15_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTRQ_15_1_1A" />
      <xs:import schemaLocation="Ticket_DisplayTSTReply_15_1_1A.xsd" namespace="http://xml.amadeus.com/TTSTRR_15_1_1A" />
    </xs:schema>
  </wsdl:types>
  <!-- MANUALLY ADDED -->

  <wsdl:message name="DocIssuance_IssueCombined_15_1">
    <wsdl:part name="DocIssuance_IssueCombined_15_1" element="docissuance_issuecombined_15_1:DocIssuance_IssueCombined" />
  </wsdl:message>
  <wsdl:message name="DocIssuance_IssueCombinedReply_15_1">
    <wsdl:part name="DocIssuance_IssueCombinedReply_15_1" element="docissuance_issuecombinedreply_15_1:DocIssuance_IssueCombinedReply" />
  </wsdl:message>


  <wsdl:message name="DocIssuance_IssueMiscellaneousDocuments_15_1">
    <wsdl:part name="DocIssuance_IssueMiscellaneousDocuments_15_1" element="docissuance_issuemiscellaneousdocuments_15_1:DocIssuance_IssueMiscellaneousDocuments" />
  </wsdl:message>
  <wsdl:message name="DocIssuance_IssueMiscellaneousDocumentsReply_15_1">
    <wsdl:part name="DocIssuance_IssueMiscellaneousDocumentsReply_15_1" element="docissuance_issuemiscellaneousdocumentsreply_15_1:DocIssuance_IssueMiscellaneousDocumentsReply" />
  </wsdl:message>


  <wsdl:message name="Fare_MasterPricerCalendar_20_2">
    <wsdl:part name="Fare_MasterPricerCalendar_20_2" element="fare_masterpricercalendar_20_2:Fare_MasterPricerCalendar" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerCalendarReply_20_2">
    <wsdl:part name="Fare_MasterPricerCalendarReply_20_2" element="fare_masterpricercalendarreply_20_2:Fare_MasterPricerCalendarReply" />
  </wsdl:message>


  <wsdl:message name="Service_IntegratedCatalogue_17_1">
    <wsdl:part name="Service_IntegratedCatalogue_17_1" element="service_integratedcatalogue_17_1:Service_IntegratedCatalogue" />
  </wsdl:message>
  <wsdl:message name="Service_IntegratedCatalogueReply_17_1">
    <wsdl:part name="Service_IntegratedCatalogueReply_17_1" element="service_integratedcataloguereply_17_1:Service_IntegratedCatalogueReply" />
  </wsdl:message>


  <wsdl:message name="Service_StandaloneCatalogue_17_1">
    <wsdl:part name="Service_StandaloneCatalogue_17_1" element="service_standalonecatalogue_17_1:Service_StandaloneCatalogue" />
  </wsdl:message>
  <wsdl:message name="Service_StandaloneCatalogueReply_17_1">
    <wsdl:part name="Service_StandaloneCatalogueReply_17_1" element="service_standalonecataloguereply_17_1:Service_StandaloneCatalogueReply" />
  </wsdl:message>


  <wsdl:message name="Ticket_CreateTSMFromPricing_09_1">
    <wsdl:part name="Ticket_CreateTSMFromPricing_09_1" element="ticket_createtsmfrompricing_09_1:Ticket_CreateTSMFromPricing" />
  </wsdl:message>
  <wsdl:message name="Ticket_CreateTSMFromPricingReply_09_1">
    <wsdl:part name="Ticket_CreateTSMFromPricingReply_09_1" element="ticket_createtsmfrompricingreply_09_1:Ticket_CreateTSMFromPricingReply" />
  </wsdl:message>


  <wsdl:message name="AMA_ServiceBookPriceServiceRQ_1.000">
    <wsdl:part name="body" element="ama_2010_06_ServiceBookAndPrice_v1:AMA_ServiceBookPriceServiceRQ" />
  </wsdl:message>
  <wsdl:message name="AMA_ServiceBookPriceServiceRS_1.000">
    <wsdl:part name="body" element="ama_2010_06_ServiceBookAndPrice_v1:AMA_ServiceBookPriceServiceRS" />
  </wsdl:message>

  <!-- END MANUALLY ADDED -->
  <wsdl:message name="Air_MultiAvailability_19_1">
    <wsdl:part name="Air_MultiAvailability_19_1" element="air_multiavailability_19_1:Air_MultiAvailability" />
  </wsdl:message>
  <wsdl:message name="Air_MultiAvailabilityReply_19_1">
    <wsdl:part name="Air_MultiAvailabilityReply_19_1" element="air_multiavailabilityreply_19_1:Air_MultiAvailabilityReply" />
  </wsdl:message>
  <wsdl:message name="Air_RetrieveSeatMap_17_1">
    <wsdl:part name="Air_RetrieveSeatMap_17_1" element="air_retrieveseatmap_17_1:Air_RetrieveSeatMap" />
  </wsdl:message>
  <wsdl:message name="Air_RetrieveSeatMapReply_17_1">
    <wsdl:part name="Air_RetrieveSeatMapReply_17_1" element="air_retrieveseatmapreply_17_1:Air_RetrieveSeatMapReply" />
  </wsdl:message>
  <wsdl:message name="Air_SellFromRecommendation_5_2">
    <wsdl:part name="Air_SellFromRecommendation_5_2" element="air_sellfromrecommendation_5_2:Air_SellFromRecommendation" />
  </wsdl:message>
  <wsdl:message name="Air_SellFromRecommendationReply_5_2">
    <wsdl:part name="Air_SellFromRecommendationReply_5_2" element="air_sellfromrecommendationreply_5_2:Air_SellFromRecommendationReply" />
  </wsdl:message>
  <wsdl:message name="FOP_CreateFormOfPayment_19_2">
    <wsdl:part name="FOP_CreateFormOfPayment_19_2" element="fop_createformofpayment_19_2:FOP_CreateFormOfPayment" />
  </wsdl:message>
  <wsdl:message name="FOP_CreateFormOfPaymentReply_19_2">
    <wsdl:part name="FOP_CreateFormOfPaymentReply_19_2" element="fop_createformofpaymentreply_19_2:FOP_CreateFormOfPaymentReply" />
  </wsdl:message>
  <wsdl:message name="Fare_GetFareFamilyDescription_18_1">
    <wsdl:part name="Fare_GetFareFamilyDescription_18_1" element="fare_getfarefamilydescription_18_1:Fare_GetFareFamilyDescription" />
  </wsdl:message>
  <wsdl:message name="Fare_GetFareFamilyDescriptionReply_18_1">
    <wsdl:part name="Fare_GetFareFamilyDescriptionReply_18_1" element="fare_getfarefamilydescriptionreply_18_1:Fare_GetFareFamilyDescriptionReply" />
  </wsdl:message>
  <wsdl:message name="Fare_InformativeBestPricingWithoutPNR_23_1">
    <wsdl:part name="Fare_InformativeBestPricingWithoutPNR_23_1" element="fare_informativebestpricingwithoutpnr_23_1:Fare_InformativeBestPricingWithoutPNR" />
  </wsdl:message>
  <wsdl:message name="Fare_InformativeBestPricingWithoutPNRReply_23_1">
    <wsdl:part name="Fare_InformativeBestPricingWithoutPNRReply_23_1" element="fare_informativebestpricingwithoutpnrreply_23_1:Fare_InformativeBestPricingWithoutPNRReply" />
  </wsdl:message>
  <wsdl:message name="Fare_InformativePricingWithoutPNR_18_1">
    <wsdl:part name="Fare_InformativePricingWithoutPNR_18_1" element="fare_informativepricingwithoutpnr_18_1:Fare_InformativePricingWithoutPNR" />
  </wsdl:message>
  <wsdl:message name="Fare_InformativePricingWithoutPNRReply_18_1">
    <wsdl:part name="Fare_InformativePricingWithoutPNRReply_18_1" element="fare_informativepricingwithoutpnrreply_18_1:Fare_InformativePricingWithoutPNRReply" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearch_23_1">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearch_23_1" element="fare_masterpricertravelboardsearch_23_1:Fare_MasterPricerTravelBoardSearch" />
  </wsdl:message>
  <wsdl:message name="Fare_MasterPricerTravelBoardSearchReply_23_1">
    <wsdl:part name="Fare_MasterPricerTravelBoardSearchReply_23_1" element="fare_masterpricertravelboardsearchreply_23_1:Fare_MasterPricerTravelBoardSearchReply" />
  </wsdl:message>
  <wsdl:message name="Fare_PricePNRWithBookingClass_18_1">
    <wsdl:part name="Fare_PricePNRWithBookingClass_18_1" element="fare_pricepnrwithbookingclass_18_1:Fare_PricePNRWithBookingClass" />
  </wsdl:message>
  <wsdl:message name="Fare_PricePNRWithBookingClassReply_18_1">
    <wsdl:part name="Fare_PricePNRWithBookingClassReply_18_1" element="fare_pricepnrwithbookingclassreply_18_1:Fare_PricePNRWithBookingClassReply" />
  </wsdl:message>
  <wsdl:message name="Fare_PriceUpsellWithoutPNR_23_1">
    <wsdl:part name="Fare_PriceUpsellWithoutPNR_23_1" element="fare_priceupsellwithoutpnr_23_1:Fare_PriceUpsellWithoutPNR" />
  </wsdl:message>
  <wsdl:message name="Fare_PriceUpsellWithoutPNRReply_23_1">
    <wsdl:part name="Fare_PriceUpsellWithoutPNRReply_23_1" element="fare_priceupsellwithoutpnrreply_23_1:Fare_PriceUpsellWithoutPNRReply" />
  </wsdl:message>
  <wsdl:message name="PNR_AddFrequentFlyer_4_1">
    <wsdl:part name="PNR_AddFrequentFlyer_4_1" element="pnr_addfrequentflyer_4_1:PNR_AddFrequentFlyer" />
  </wsdl:message>
  <wsdl:message name="PNR_AddFrequentFlyerReply_4_1">
    <wsdl:part name="PNR_AddFrequentFlyerReply_4_1" element="pnr_addfrequentflyerreply_4_1:PNR_AddFrequentFlyerReply" />
  </wsdl:message>
  <wsdl:message name="PNR_AddMultiElements_21_1">
    <wsdl:part name="PNR_AddMultiElements_21_1" element="pnr_addmultielements_21_1:PNR_AddMultiElements" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_21_1">
    <wsdl:part name="PNR_Reply_21_1" element="pnr_reply_21_1:PNR_Reply" />
  </wsdl:message>
  <wsdl:message name="PNR_Retrieve_21_1">
    <wsdl:part name="PNR_Retrieve_21_1" element="pnr_retrieve_21_1:PNR_Retrieve" />
  </wsdl:message>
  <wsdl:message name="PNR_List_0_1">
    <wsdl:part name="PNR_List_0_1" element="pnr_list_0_1:PNR_List" />
  </wsdl:message>
  <wsdl:message name="Queue_PlacePNR_3_1">
    <wsdl:part name="Queue_PlacePNR_3_1" element="queue_placepnr_3_1:Queue_PlacePNR" />
  </wsdl:message>
  <wsdl:message name="Queue_PlacePNRReply_3_1">
    <wsdl:part name="Queue_PlacePNRReply_3_1" element="queue_placepnrreply_3_1:Queue_PlacePNRReply" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:message name="Ticket_CreateTSTFromPricing_4_1">
    <wsdl:part name="Ticket_CreateTSTFromPricing_4_1" element="ticket_createtstfrompricing_4_1:Ticket_CreateTSTFromPricing" />
  </wsdl:message>
  <wsdl:message name="Ticket_CreateTSTFromPricingReply_4_1">
    <wsdl:part name="Ticket_CreateTSTFromPricingReply_4_1" element="ticket_createtstfrompricingreply_4_1:Ticket_CreateTSTFromPricingReply" />
  </wsdl:message>
  <wsdl:message name="Ticket_DeleteTST_4_1">
    <wsdl:part name="Ticket_DeleteTST_4_1" element="ticket_deletetst_4_1:Ticket_DeleteTST" />
  </wsdl:message>
  <wsdl:message name="Ticket_DeleteTSTReply_4_1">
    <wsdl:part name="Ticket_DeleteTSTReply_4_1" element="ticket_deletetstreply_4_1:Ticket_DeleteTSTReply" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTST_15_1">
    <wsdl:part name="Ticket_DisplayTST_15_1" element="ticket_displaytst_15_1:Ticket_DisplayTST" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSTReply_15_1">
    <wsdl:part name="Ticket_DisplayTSTReply_15_1" element="ticket_displaytstreply_15_1:Ticket_DisplayTSTReply" />
  </wsdl:message>
  <wsdl:portType name="FLIGHTS_JAVASCRIPT_PDT_2_8_ServicesPT">
    <!-- <wsdl:operation name="Air_MultiAvailability">
      <wsdl:input message="tns:Air_MultiAvailability_19_1" />
      <wsdl:output message="tns:Air_MultiAvailabilityReply_19_1" />
    </wsdl:operation>
    <wsdl:operation name="Air_RetrieveSeatMap">
      <wsdl:input message="tns:Air_RetrieveSeatMap_17_1" />
      <wsdl:output message="tns:Air_RetrieveSeatMapReply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="Air_SellFromRecommendation">
      <wsdl:input message="tns:Air_SellFromRecommendation_5_2" />
      <wsdl:output message="tns:Air_SellFromRecommendationReply_5_2" />
    </wsdl:operation>
    <wsdl:operation name="FOP_CreateFormOfPayment">
      <wsdl:input message="tns:FOP_CreateFormOfPayment_19_2" />
      <wsdl:output message="tns:FOP_CreateFormOfPaymentReply_19_2" />
    </wsdl:operation>
    <wsdl:operation name="Fare_GetFareFamilyDescription">
      <wsdl:input message="tns:Fare_GetFareFamilyDescription_18_1" />
      <wsdl:output message="tns:Fare_GetFareFamilyDescriptionReply_18_1" />
    </wsdl:operation>
    <wsdl:operation name="Fare_InformativeBestPricingWithoutPNR">
      <wsdl:input message="tns:Fare_InformativeBestPricingWithoutPNR_23_1" />
      <wsdl:output message="tns:Fare_InformativeBestPricingWithoutPNRReply_23_1" />
    </wsdl:operation>
    <wsdl:operation name="Fare_InformativePricingWithoutPNR">
      <wsdl:input message="tns:Fare_InformativePricingWithoutPNR_18_1" />
      <wsdl:output message="tns:Fare_InformativePricingWithoutPNRReply_18_1" />
    </wsdl:operation>
    <wsdl:operation name="Fare_MasterPricerTravelBoardSearch">
      <wsdl:input message="tns:Fare_MasterPricerTravelBoardSearch_23_1" />
      <wsdl:output message="tns:Fare_MasterPricerTravelBoardSearchReply_23_1" />
    </wsdl:operation>
    <wsdl:operation name="Fare_PricePNRWithBookingClass">
      <wsdl:input message="tns:Fare_PricePNRWithBookingClass_18_1" />
      <wsdl:output message="tns:Fare_PricePNRWithBookingClassReply_18_1" />
    </wsdl:operation>
    <wsdl:operation name="Fare_PriceUpsellWithoutPNR">
      <wsdl:input message="tns:Fare_PriceUpsellWithoutPNR_23_1" />
      <wsdl:output message="tns:Fare_PriceUpsellWithoutPNRReply_23_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_AddFrequentFlyer">
      <wsdl:input message="tns:PNR_AddFrequentFlyer_4_1" />
      <wsdl:output message="tns:PNR_AddFrequentFlyerReply_4_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_AddMultiElements">
      <wsdl:input message="tns:PNR_AddMultiElements_21_1" />
      <wsdl:output message="tns:PNR_Reply_21_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <wsdl:input message="tns:PNR_Retrieve_21_1" />
      <wsdl:output message="tns:PNR_Reply_21_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <wsdl:input message="tns:PNR_Retrieve_21_1" />
      <wsdl:output message="tns:PNR_List_0_1" />
    </wsdl:operation>
    <wsdl:operation name="Queue_PlacePNR">
      <wsdl:input message="tns:Queue_PlacePNR_3_1" />
      <wsdl:output message="tns:Queue_PlacePNRReply_3_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
    <wsdl:operation name="Ticket_CreateTSTFromPricing">
      <wsdl:input message="tns:Ticket_CreateTSTFromPricing_4_1" />
      <wsdl:output message="tns:Ticket_CreateTSTFromPricingReply_4_1" />
    </wsdl:operation>
    <wsdl:operation name="Ticket_DeleteTST">
      <wsdl:input message="tns:Ticket_DeleteTST_4_1" />
      <wsdl:output message="tns:Ticket_DeleteTSTReply_4_1" />
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTST">
      <wsdl:input message="tns:Ticket_DisplayTST_15_1" />
      <wsdl:output message="tns:Ticket_DisplayTSTReply_15_1" />
    </wsdl:operation> -->
    <!-- MANUALLY ADDED -->

    <!-- <wsdl:operation name="DocIssuance_IssueCombined">
      <wsdl:input message="tns:DocIssuance_IssueCombined_15_1" />
      <wsdl:output message="tns:DocIssuance_IssueCombinedReply_15_1" />
    </wsdl:operation>


    <wsdl:operation name="DocIssuance_IssueMiscellaneousDocuments">
      <wsdl:input message="tns:DocIssuance_IssueMiscellaneousDocuments_15_1" />
      <wsdl:output message="tns:DocIssuance_IssueMiscellaneousDocumentsReply_15_1" />
    </wsdl:operation>

    <wsdl:operation name="Fare_MasterPricerCalendar">
      <wsdl:input message="tns:Fare_MasterPricerCalendar_20_2" />
      <wsdl:output message="tns:Fare_MasterPricerCalendarReply_20_2" />
    </wsdl:operation>

    <wsdl:operation name="Service_IntegratedCatalogue">
      <wsdl:input message="tns:Service_IntegratedCatalogue_17_1" />
      <wsdl:output message="tns:Service_IntegratedCatalogueReply_17_1" />
    </wsdl:operation>

    <wsdl:operation name="Service_StandaloneCatalogue">
      <wsdl:input message="tns:Service_StandaloneCatalogue_17_1" />
      <wsdl:output message="tns:Service_StandaloneCatalogueReply_17_1" />
    </wsdl:operation>

    <wsdl:operation name="Ticket_CreateTSMFromPricing">
      <wsdl:input message="tns:Ticket_CreateTSMFromPricing_09_1" />
      <wsdl:output message="tns:Ticket_CreateTSMFromPricingReply_09_1" />
    </wsdl:operation> -->


    <!-- <wsdl:operation name="ServiceBookPriceService">
      <wsdl:documentation>Version 1.0</wsdl:documentation>
      <wsdl:input message="tns:AMA_ServiceBookPriceServiceRQ_1.000" />
      <wsdl:output message="tns:AMA_ServiceBookPriceServiceRS_1.000" />
    </wsdl:operation> -->
    <wsdl:operation name="DocIssuance_IssueMiscellaneousDocuments">
      <!-- <wsdl:input message="tns:DocIssuance_IssueMiscellaneousDocuments_15_1" /> -->
      <wsdl:output message="tns:DocIssuance_IssueMiscellaneousDocumentsReply_15_1" />
    </wsdl:operation>


    <!-- END MANUALLY ADDED -->
  </wsdl:portType>
</wsdl:definitions>
<!--1F8B080000000000000045CDB10AC2301485E1BD4F7147455AAED12ED942C55869A598A063091A30D0A42189826F6FD0C1F10CFF77B8763AA8646607C9581D93B29E0241B22D919484807C3C43BCAB379035DDD4B446E0BD5C2152C4E22A761DF09F300778E9103394F30A2B2C9AC9689740793F99DBF78202FB0F58F4ED69990D3680535653D8772D3F48311ED98589E6DC0EF203B4B92D4B9E000000-->
