soap_files/FLIGHTS_JAVASCRIPT_TST_2.8/PNR_AddFrequentFlyerReply_04_1_1A.xsd

<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace= "http://xml.amadeus.com/FFARES_04_1_1A" 
xmlns="http://xml.amadeus.com/FFARES_04_1_1A" 
elementFormDefault="qualified">

  <xs:element name="PNR_AddFrequentFlyerReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pnrInfo" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="reservation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="controlNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..6
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="6"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="errorGroup" minOccurs="0" maxOccurs="2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: n..5
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCategory">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..3
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="errorCodeOwner">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..3
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorText" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="freeText">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..70
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="70"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ssrGroup" minOccurs="0" maxOccurs="99">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fqtvData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="actionRequest">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..35
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="35"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="companyDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="marketingCompany">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..3
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="operatingCompany" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..3
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="accountDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="frequentTravellerId">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..27
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="27"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="category" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..3
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="rateClass" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..4
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="4"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="actionCode" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="statusCode">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">
                              Edifact representation: an..3
                            </xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="errorGroup" minOccurs="0" maxOccurs="3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="errorInfo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="errorCode">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: n..5
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCategory">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="errorCodeOwner">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="errorText" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="freeText">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..70
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="70"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paxInfoGroup" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paxInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paxDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="surname">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..70
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="70"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="otherPaxDetails">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="givenName">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..56
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="56"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="uniqueCustomerIdentifier">
                            <xs:simpleType>
                              <xs:restriction base="xs:decimal">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: n..5
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ssrGroup" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fqtvData">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="actionRequest">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..3
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="tier" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..35
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="35"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="companyDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="marketingCompany">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="operatingCompany" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="accountDetails">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="frequentTravellerId">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..27
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="27"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="category" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..3
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="3"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="rateClass" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..4
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="actionCode" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="statusCode">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:annotation>
                                  <xs:documentation xml:lang="en">
                                    Edifact representation: an..3
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:minLength value="1"/>
                                <xs:maxLength value="3"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="errorGroup" minOccurs="0" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="errorInfo">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="errorDetails">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="errorCode">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:decimal">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">
                                                Edifact representation: n..5
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="errorCategory">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">
                                                Edifact representation: an..3
                                              </xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="3"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="errorCodeOwner">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:annotation>
                                              <xs:documentation xml:lang="en">
                                                Edifact representation: an..3
                                              </xs:documentation>
                                            </xs:annotation>
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="3"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="errorText" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="freeText">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:annotation>
                                        <xs:documentation xml:lang="en">
                                          Edifact representation: an..70
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="70"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
